h1 {
    color: silver;
}
h1:hover {
    color: blueviolet;
}
.underl {
    text-decoration: underline;
}
.fat {
    font-weight: 800;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .studentList {
    background-color: silver;
    color: darkolivegreen;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #eee;
    background-color: #222;
  }
  .studentList {
    background-color: black;
    color: whitesmoke;
  }
}